@media (min-width: 992px) {
  .menu-icons {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.card {
  max-width: 306px;
  border-radius: 32px;
  padding: 10px 0;
}
.card img {
  margin-top: 24px;
  margin-bottom: 16px;
}
.popular-cards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-title {
  font-size: 1.12rem;
}
@media (max-width: 991px) {
  .card {
    max-width: 100%;
  }
}
